
allow fsck fsck:capability { dac_override };
allow fsck fsck:capability { dac_override };
allow fsck fsck:capability { dac_read_search };
allow fsck fsck:capability { dac_read_search };
allow fsck fsck:capability { dac_override };
allow fsck fsck:capability { dac_override };
allow fsck fsck:capability { dac_read_search };
allow fsck fsck:capability { dac_read_search };
allow fsck fsck:capability { dac_override };
allow qti_init_shell persist_file:dir { search };
allow qti_init_shell qti_init_shell:capability { dac_override };
allow qti_init_shell qti_init_shell:capability { dac_override };
allow bootanim sysfs_kgsl:dir { search };
allow bootanim sysfs_kgsl:dir { search };
allow hal_audio_default sysfs:dir { read };
allow mm-qcamerad default_prop:property_service { set };
allow mm-qcamerad default_prop:property_service { set };
allow netmgrd vendor_default_prop:property_service { set };
allow hal_wifi_default default_prop:property_service { set };
allow hal_audio_default sysfs:dir { read };
allow hal_wifi_default proc_net:file { write };
allow hal_wifi_default proc_net:file { write };
allow hal_wifi_default proc_net:file { write };
allow hal_wifi_default proc_net:file { write };
allow hal_wifi_default proc_net:file { write };
allow hal_wifi_default proc_net:file { write };
allow untrusted_app_25 net_dns_prop:file { read };
allow untrusted_app_25 net_dns_prop:file { read };
allow platform_app time_daemon:unix_stream_socket { connectto };
allow platform_app time_daemon:unix_stream_socket { connectto };
allow hal_perf_default property_socket:sock_file { write };
allow hal_perf_default property_socket:sock_file { write };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute };
allow hal_fingerprint_default storage_file:dir { search };
allow hal_fingerprint_default storage_file:dir { search };
allow hal_fingerprint_default rootfs:dir { read };
allow hal_fingerprint_default rootfs:dir { read };
allow untrusted_app rootfs:dir { read };
allow untrusted_app rootfs:dir { read };
allow priv_app mnt_vendor_file:dir { search };
allow priv_app mnt_vendor_file:dir { search };
allow priv_app firmware_file:filesystem { getattr };
allow priv_app firmware_file:filesystem { getattr };
allow priv_app mnt_vendor_file:dir { search };
allow priv_app mnt_vendor_file:dir { search };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app_27 proc_net_tcp_udp:file { read };
allow priv_app mnt_vendor_file:dir { search };
allow priv_app mnt_vendor_file:dir { search };
allow priv_app firmware_file:filesystem { getattr };
allow priv_app firmware_file:filesystem { getattr };
allow untrusted_app sysfs_kgsl:dir { search };
allow untrusted_app sysfs_kgsl:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app dalvikcache_data_file:file { execmod };
allow untrusted_app dalvikcache_data_file:file { execmod };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app_25 net_dns_prop:file { read };
allow untrusted_app_25 net_dns_prop:file { read };
allow platform_app time_daemon:unix_stream_socket { connectto };
allow platform_app time_daemon:unix_stream_socket { connectto };
allow untrusted_app_27 proc_version:file { read };
allow untrusted_app_27 proc_version:file { read };
allow untrusted_app_27 proc_version:file { read };
allow untrusted_app_27 proc_version:file { read };
allow untrusted_app_27 app_data_file:file { execute };
allow platform_app time_daemon:unix_stream_socket { connectto };
allow untrusted_app dalvikcache_data_file:file { execmod };
allow untrusted_app dalvikcache_data_file:file { execmod };
allow untrusted_app_27 sysfs:file { read };
allow untrusted_app_27 sysfs:file { read };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app dalvikcache_data_file:file { execmod };
allow untrusted_app dalvikcache_data_file:file { execmod };
allow untrusted_app dalvikcache_data_file:file { execmod };
allow untrusted_app dalvikcache_data_file:file { execmod };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl:dir { search };
allow untrusted_app sysfs_kgsl:dir { search };
allow untrusted_app_27 mnt_vendor_file:dir { search };
allow untrusted_app_27 mnt_vendor_file:dir { search };
allow untrusted_app_27 firmware_file:filesystem { getattr };
allow untrusted_app_27 firmware_file:filesystem { getattr };
allow untrusted_app_27 cgroup_desc_file:file { getattr };
allow untrusted_app_27 cgroup_desc_file:file { getattr };
allow untrusted_app_27 block_device:dir { search };
allow untrusted_app_27 block_device:dir { search };
allow untrusted_app_27 rootfs:dir { read };
allow untrusted_app_27 rootfs:file { getattr };
allow untrusted_app dalvikcache_data_file:file { execmod };
allow untrusted_app dalvikcache_data_file:file { execmod };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app app_data_file:file { execute };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow isolated_app app_data_file:file { setattr };
allow isolated_app app_data_file:file { setattr };
allow isolated_app app_data_file:file { setattr };
allow isolated_app app_data_file:file { setattr };
allow isolated_app app_data_file:file { setattr };
allow isolated_app app_data_file:file { setattr };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl:dir { search };
allow untrusted_app sysfs_kgsl:dir { search };
allow untrusted_app sysfs_kgsl:dir { search };
allow untrusted_app sysfs_kgsl:dir { search };
allow untrusted_app dalvikcache_data_file:file { execmod };
allow untrusted_app dalvikcache_data_file:file { execmod };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl:dir { search };
allow untrusted_app sysfs_kgsl:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app dalvikcache_data_file:file { execmod };
allow untrusted_app dalvikcache_data_file:file { execmod };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app sysfs_kgsl_proc:dir { search };
allow untrusted_app_25 net_dns_prop:file { read };
allow untrusted_app_25 net_dns_prop:file { read };
allow untrusted_app_25 rootfs:dir { read };
allow untrusted_app_25 rootfs:dir { read };
allow untrusted_app_27 rootfs:dir { read };
allow untrusted_app_27 rootfs:dir { read };
allow untrusted_app_25 net_dns_prop:file { read };
allow untrusted_app_25 net_dns_prop:file { read };
allow untrusted_app_25 rootfs:dir { read };
allow untrusted_app_25 rootfs:dir { read };
allow untrusted_app_27 mnt_vendor_file:dir { search };
allow untrusted_app_27 mnt_vendor_file:dir { search };
allow untrusted_app_27 firmware_file:filesystem { getattr };
allow untrusted_app_27 firmware_file:filesystem { getattr };
allow untrusted_app_27 cgroup_desc_file:file { getattr };
allow untrusted_app_27 cgroup_desc_file:file { getattr };
allow untrusted_app_27 block_device:dir { search };
allow mm-qcamerad default_prop:property_service { set };
allow untrusted_app_27 block_device:dir { search };
allow untrusted_app_25 rootfs:dir { read };
allow untrusted_app_25 rootfs:dir { read };
allow system_server app_zygote:process { getpgid };
